pandas 명령어<br>

# series 1차원 데이터
- 리스트 형태인데 데이터 처리를 쉽게 할수있는 라이브러리

In [ ]:
import pandas as pd

#1차원 데이터

a_list=[-20,-10,10,20]
temp=pd.Series(a_list) #리스트타입 -> 1차원 series타입 변환
temp

0   -20
1   -10
2    10
3    20
dtype: int64

In [10]:
# series index 지정방법
temp=pd.Series(a_list,index=['1월','2월','3월','4월'])
temp
print(temp['1월'])

-20

# dataframe : 2차원데이터

In [ ]:
data = { #dict타입
   '번호':['1번','2번','3번','4번','5번'],
   '이름':['ㅁㅁ','ㄴㄴ','ㅇㅇ','ㄹㄹ','ㅎㅎ'],
   '합계':[300,299,250,270,297]
}
data

{'번호': ['1번', '2번', '3번', '4번', '5번'],
 '이름': ['ㅁㅁ', 'ㄴㄴ', 'ㅇㅇ', 'ㄹㄹ', 'ㅎㅎ'],
 '합계': [300, 299, 250, 270, 297]}

In [ ]:
# 딕셔너리 타입 구현
data['이름']
data['합계']

[300, 299, 250, 270, 297]

In [20]:
# pandas dataframe형태로 변경
df=pd.DataFrame(data,index=[11,22,33,44,55])
df

    번호  이름   합계
11  1번  ㅁㅁ  300
22  2번  ㄴㄴ  299
33  3번  ㅇㅇ  250
44  4번  ㄹㄹ  270
55  5번  ㅎㅎ  297

In [21]:
df['이름']

11    ㅁㅁ
22    ㄴㄴ
33    ㅇㅇ
44    ㄹㄹ
55    ㅎㅎ
Name: 이름, dtype: object

In [ ]:
# 2가지 이상 출력=[[]]
df[['번호','합계','이름']]

    번호   합계  이름
11  1번  300  ㅁㅁ
22  2번  299  ㄴㄴ
33  3번  250  ㅇㅇ
44  4번  270  ㄹㄹ
55  5번  297  ㅎㅎ