In [28]:
import pandas as pd

# 합계
df=pd.read_excel('data/people2.xlsx',skiprows=3,usecols='b,e:o',index_col='행정기관',nrows=1)
# df['0~9세']=df['0~9세'].str.replace(",",'') #천단위삭제
# df['0~9세']=df['0~9세'].astype(int) #타입변경
# df['0~9세']=df['0~9세'].str.replace(',','').astype(int)
df = df.apply(lambda n: n.str.replace(',', '').astype(int))
df.info()
df.rename(columns={'전국  ':'전국'},inplace=True)
df.columns

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 전국   to 전국
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   0~9세     1 non-null      int64
 1   10~19세   1 non-null      int64
 2   20~29세   1 non-null      int64
 3   30~39세   1 non-null      int64
 4   40~49세   1 non-null      int64
 5   50~59세   1 non-null      int64
 6   60~69세   1 non-null      int64
 7   70~79세   1 non-null      int64
 8   80~89세   1 non-null      int64
 9   90~99세   1 non-null      int64
 10  100세 이상  1 non-null      int64
dtypes: int64(11)
memory usage: 96.0+ bytes

c:\python3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Index(['0~9세', '10~19세', '20~29세', '30~39세', '40~49세', '50~59세', '60~69세',
       '70~79세', '80~89세', '90~99세', '100세 이상'],
      dtype='object')